<!-- for basic api fetching this code is used -->
<!-- <div *ngIf="(data$ | async) as data">

<h2>Below are the user details</h2>
<div *ngFor="let user of data.users">
  <div>
    <img [src]="user.image" alt="user image">
    <p>Name:{{user.firstName}} {{user.lastName}}</p>
    <p>Age: {{user.age}}</p>
    <p>Email: {{user.email}}</p>
    <p>Phone: {{user.phone}}</p>
  </div>

</div>
</div> -->

<!-- for fetching and adding the data from api more complex using forms -->
<app-employee></app-employee>