<!-- <header>Hello World</header>

<p>{{message}}</p> -->

<h2>
  Welcome to shopify website
</h2>

<!-- calling the sub-componenet -->
 <!-- <app-product></app-product>  -->

 <!-- <div>
  <h2>Service Products below</h2>
  <button type="button" (click)="getProducts()">Show Products</button>

  <div>
    <table>
      <thead>
        <tr>
          <th>Product Id</th>
          <th>Product name</th>
          <th>Price</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let prod of products">
          <td>{{prod.productId}}</td>
          <td>{{prod.name}}</td>
          <td>{{prod.price}}</td>
        </tr>
      </tbody>
    </table>
  </div>
 </div> -->

 <!-- <h2>Employee Form</h2>

 <div>
  <table border="1">
    <tr>
      <td>Employee Name</td>
      <td><input type="text" [(ngModel)]="model.name"/></td>
      
    </tr>

    <tr>
      <td>Employee city</td>
      <td><input type="text" [(ngModel)]="model.city"/></td>
    </tr>

    <tr>
      <button type="button" value="Submit" (click)="submit()">Submit</button>
      <button type="button" value="Reset" (click)="reset()">Reset</button>
    </tr>
  </table>

  <h2>
    Employee Deatils
  </h2>
  <div>
    <table>
      <thead>
        <tr>
          <th>Employee Name</th>
          <th>Employee City</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of source">
          <td>{{item.name}}</td>
          <td>{{item.city}}</td>
        </tr>
      </tbody>
    </table>
  </div>
 </div> -->

 <!-- <app-product-list></app-product-list> -->

 <!-- <app-contact-form></app-contact-form> -->
 <!-- <app-product-form></app-product-form> -->

 <!-- <app-reactive-form></app-reactive-form> -->
<!-- 
 <nav>
  <ul>
    <li><a routerLink="/">Home</a></li>
    <li><a routerLink="/about">About</a></li>
    <li><a routerLink="/contact">Contact</a></li>
  </ul>
 </nav> -->

 <router-outlet></router-outlet>